:root {
    --primary-light: #d9e6ff;
    --primary-medium-light: #b0e7ff;
    --primary-medium: #bdc8ff;
    --primary-medium-dark: #a0bfe8;
    --primary-dark: #a1aad9;
}

* {
    margin: 0 auto;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.bd-pattern {
    border: none;
    padding: 10px;
    margin: .5rem;
    background: var(--primary-medium);
    box-shadow: 5px 5px 5px var(--primary-dark),
                -5px -5px 5px var(--primary-medium-light);
    border-radius: 10px;
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    color: white;
}

.bd-pattern:focus {
    outline: 2px solid var(--primary-medium-dark);
}

.bd-pattern::-moz-placeholder {
    color: white;
}

.bd-pattern::-ms-input-placeholder {
    color: white;
}

.bd-pattern::-webkit-input-placeholder {
    color: white;
}

progress.bd-progress { 
    -webkit-appearance: none; 
}

progress.bd-progress::-webkit-progress-inner-element { 
    box-shadow: var(--primary-medium-dark); 
}

progress.bd-progress::-webkit-progress-bar { 
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: var(--primary-medium);
    border-radius: 5px; 
    box-shadow: 5px 5px 5px var(--primary-dark),
                -5px -5px 5px var(--primary-light);
}

progress.bd-progress::-webkit-progress-value { 
    border-radius: 5px;
    background: var(--primary-medium-dark);
}

progress.bd-progress::-moz-progress-bar { 
    border-radius: 5px; 
}

progress.bd-progress::-ms-fill { 
    border-radius: 5px; 
}

input[type=file].bd-pattern::-webkit-file-upload-button {
    background: var(--primary-light);
    color: var(--primary-medium-dark);
    border: none;
    border-radius: 5px;
}

input[type=file].bd-pattern::-webkit-file-upload-button:hover {
    cursor: pointer;
}

input[type=file].bd-pattern::-webkit-file-upload-button:active {
    background: var(--primary-medium-dark);
    color: var(--primary-dark);
}

input[type=file].bd-pattern::-ms-browse {
    background: var(--primary-light);
    color: var(--primary-medium-dark);
    border: none;
    border-radius: 5px;
}

input[type=file].bd-pattern::-ms-browse:hover {
    cursor: pointer;
}

input[type=file].bd-pattern::-ms-browse:active {
    background: var(--primary-medium-dark);
    color: var(--primary-dark);
}

.bd-btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 10px;
    margin: .5rem;
    border-radius: 10px;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.bd-btn:hover:not(:disabled) {
    cursor: pointer;
}

.bd-btn-standard {
    font-weight: 100;
    border: none;
    background: var(--primary-medium);
    box-shadow: 5px 5px 5px var(--primary-dark),
                -5px -5px 5px var(--primary-light);
    color: white;
}

.bd-btn-standard:hover:not(:disabled) {
    background: var(--primary-medium-dark);
}

.bd-btn-standard:active:not(:disabled) {
    box-shadow: 5px 5px 5px inset var(--primary-medium-dark),
                -5px -5px 5px inset var(--primary-medium-light);
}

.bd-btn-standard:disabled {
    background: var(--primary-medium-light);
    color: var(--primary-medium);
}

.bd-btn-outline {    
    border: 1px solid var(--primary-medium);
    font-size: 1rem;
    line-height: 1.5;
    
    color: var(--primary-medium);
    background-color: transparent;
    background-image: none;
    box-shadow: 5px 5px 5px var(--primary-dark),
                -1px -1px 2px inset var(--primary-dark),
                1px 1px 2px inset var(--primary-light),
                -5px -5px 5px var(--primary-light);
}

.bd-btn-outline:hover:not(:disabled) {
    background: var(--primary-medium);
    color: white;
}

.bd-btn-outline:active:not(:disabled) {
    box-shadow: 5px 5px 5px inset var(--primary-dark),
                -5px -5px 5px inset var(--primary-medium-light);
}

.bd-btn-outline:disabled {
    background: var(--primary-medium-light);
    border: none;
}

.bd-btn-transparent {
    border: none;
    font-weight: 400;
    color: white;
    background-color: transparent;
}

.bd-btn-transparent:disabled {
    color: grey;
}

.bd-btn-selected {
    color: grey;
}

.bd-btn-link {
    border: none;
    font-weight: 400;
    color: var(--primary-dark);
    background-color: transparent;
}

.bd-btn-link:hover:not(:disabled) {
    text-decoration: underline;
}

.bd-btn-small {
    font-size: .8rem;
    font-weight: 50;
}

.bd-btn-group {
    display: flex;
    margin: .5rem;
}

.bd-btn-group > button {
    margin: 0;
    border-radius: 0;
}

.bd-btn-group > button + button {
    border-left: none;
    box-shadow: 0 5px 5px var(--primary-dark),
                0 -5px 5px var(--primary-light);
}

.bd-btn-group > button:first-child {
    border-radius: 10px 0 0 10px;
    box-shadow: 0 5px 5px var(--primary-dark),
                0 -5px 5px var(--primary-light);
}

.bd-btn-group > button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bd-hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid var(--primary-dark);
    width: 90%;
}

.bd-header {
    color: white;
    background-color: var(--primary-medium-dark);
    margin: 0.5rem;
    width: calc(100% - 1rem);
}

.bd-header-logo {
    width: 40px;
    justify-self: center;
    margin-left: 0;
    margin-right: 0;
}

.bd-header-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.bd-header-navigator {
    display: flex;
    margin: auto;
    margin-left: 0;
    align-items: center;
}

.bd-header-item {
    flex: 0 0 auto;
    width: auto;
    padding: .5rem 1rem;
    border-collapse: collapse;
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 900px) {
    .bd-header-content {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .bd-header-navigator {
        flex-wrap: wrap;
        margin: auto;
    }

    .bd-header-content > input[type=search].bd-pattern {
        width: 80%;
        margin-left: 10%;
    }

    .bd-header-buttons {
        justify-content: center;
    }
}

.bd-footer {
    display: flex;
    border-top: 1px solid var(--primary-dark);
    margin: .5rem;
    align-items: center;
}

.bd-footer > div > button > img {
    height: 36px;
    width: auto;
}

.bd-sidebar {
    display: flex;
    width: 300px;
    height: 95vh;
    flex-direction: column;
    background-color: white;
    vertical-align: middle;
    align-items: center;
    padding: 1rem;
    box-shadow: 5px 5px 5px var(--primary-dark),
                -5px -5px 5px var(--primary-medium-light);
    border-radius: 10px;
    margin-left: 0;
}

.bd-sidebar-content {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.bd-sidebar-nav-item {
    align-items: flex-start;
}

.bd-sidebar-nav-item, .bd-sidebar-user {
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-medium-light);
    border-radius: 10px;
    width: 90%;
}

.bd-sidebar-nav-item:hover:not(disabled):not(.bd-sidebar-nav-active), .bd-sidebar-user:hover:not(disabled):not(.bd-sidebar-nav-active) {
    background-color: var(--primary-medium);
    cursor: pointer;
}

.bd-sidebar-nav-item:active:not(disabled),  .bd-sidebar-user:active:not(disabled) {
    background-color: var(--primary-medium-dark);
    box-shadow: 5px 5px 5px inset var(--primary-dark),
                -5px -5px 5px inset var(--primary-medium-light);
}

.bd-sidebar-nav-active {
    background-color: var(--primary-medium-dark);
}

.bd-form-login {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    padding: 0px;
    text-align: center;
    margin-top: 15%;
    border: 2px solid var(--primary-medium-light);
    box-shadow: 5px 5px 5px var(--primary-dark),
                -5px -5px 5px var(--primary-medium-light);
    border-radius: 10px;
}

.bd-login-content {
    margin: 20px;
}