:root {
    --primary-light: #d9e6ff;
    --primary-medium-light: #b0e7ff;
    --primary-medium: #bdc8ff;
    --primary-medium-dark: #a0bfe8;
    --primary-dark: #a1aad9;
    --secondary-light: #ffe8a3;
    --secondary-medium: #f5d36c;
    --secondary-dark: #b39a4f;
}

* {
    margin: 0 auto;
    padding: 0;
}

.test {
    border: none;
    padding: 10px;
    margin: .5rem;
    background: var(--primary-medium);
    box-shadow: 5px 5px 5px var(--primary-dark),
                -5px -5px 5px var(--primary-medium-light);
    border-radius: 10px;
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    color: white;
}

.test:focus {
    outline: none;
}

progress.progress { 
    -webkit-appearance: none; 
}

progress.progress::-webkit-progress-inner-element { 
    box-shadow: var(--primary-medium-dark); 
}

progress.progress::-webkit-progress-bar { 
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: var(--primary-medium);
    border-radius: 5px; 
    box-shadow: 5px 5px 5px var(--primary-dark),
                -5px -5px 5px var(--primary-light);
}

progress.progress::-webkit-progress-value { 
    border-radius: 5px;
    background: var(--primary-medium-dark);
}

progress.progress::-moz-progress-bar { 
    border-radius: 5px; 
}

progress.progress::-ms-fill { 
    border-radius: 5px; 
}

input[type=file].test::-webkit-file-upload-button {
    background: var(--primary-light);
    color: var(--primary-medium-dark);
    border: none;
    border-radius: 5px;
}

input[type=file].test::-webkit-file-upload-button:hover {
    cursor: pointer;
}

input[type=file].test::-webkit-file-upload-button:active {
    background: var(--primary-medium-dark);
    color: var(--primary-dark);
}

input[type=file].test::-ms-browse {
    background: var(--primary-light);
    color: var(--primary-medium-dark);
    border: none;
    border-radius: 5px;
}

input[type=file].test::-ms-browse:hover {
    cursor: pointer;
}

input[type=file]::-ms-browse:active {
    background: var(--primary-medium-dark);
    color: var(--primary-dark);
}

.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 10px;
    margin: .5rem;
    border-radius: 10px;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.btn:hover:not(:disabled) {
    cursor: pointer;
}

.btn-standard {
    font-weight: 100;
    border: none;
    background: var(--primary-medium);
    box-shadow: 5px 5px 5px var(--primary-dark),
                -5px -5px 5px var(--primary-light);
    color: white;
}

.btn-standard:hover:not(:disabled) {
    background: var(--primary-medium-dark);
}

.btn-standard:active:not(:disabled) {
    box-shadow: 5px 5px 5px inset var(--primary-medium-dark),
                -5px -5px 5px inset var(--primary-medium-light);
}

.btn-standard:disabled {
    background: var(--primary-medium-light);
    color: var(--primary-medium);
}

.btn-outline {    
    border: 1px solid var(--primary-medium);
    font-size: 1rem;
    line-height: 1.5;
    
    color: var(--primary-medium);
    background-color: transparent;
    background-image: none;
    box-shadow: 5px 5px 5px var(--primary-dark),
                -1px -1px 2px inset var(--primary-dark),
                1px 1px 2px inset var(--primary-light),
                -5px -5px 5px var(--primary-light);
}

.btn-outline:hover:not(:disabled) {
    background: var(--primary-medium);
    color: white;
}

.btn-outline:active:not(:disabled) {
    box-shadow: 5px 5px 5px inset var(--primary-dark),
                -5px -5px 5px inset var(--primary-medium-light);
}

.btn-outline:disabled {
    background: var(--primary-medium-light);
    border: none;
}

.btn-transparent {
    border: none;
    font-weight: 400;
    color: white;
    background-color: transparent;
}

.btn-transparent:disabled {
    color: grey;
}

.btn-selected {
    color: grey;
}

.btn-link {
    border: none;
    font-weight: 400;
    color: var(--primary-dark);
    background-color: transparent;
}

.btn-link:hover:not(:disabled) {
    text-decoration: underline;
}

.btn-small {
    font-size: .8rem;
    font-weight: 50;
}

.btn-group {
    display: flex;
    margin: .5rem;
    justify-content: center;
}

.btn-group > button {
    margin: 0;
    border-radius: 0;
}

.btn-group > button + button {
    border-left: none;
    box-shadow: 0 5px 5px var(--primary-dark),
                0 -5px 5px var(--primary-light);
}

.btn-group > button:first-child {
    border-radius: 10px 0 0 10px;
    box-shadow: 0 5px 5px var(--primary-dark),
                0 -5px 5px var(--primary-light);
}

.btn-group > button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid var(--primary-dark);
    width: 90%;
}

.header {
    margin: .5rem;
    display: flex;
    color: white;
    background-color: var(--primary-medium-dark);
}

.header-content {
    display: grid;
    width: 100%;
}

.navigator {
    display: flex;
}

.header-content > input[type=search] {
    width: 80%;
    margin-left: 10%;
}

.footer {
    display: flex;
    border-top: 1px solid var(--primary-dark);
    margin: .5rem;
    align-items: center;
}

.footer > div > button > img {
    height: 36px;
    width: auto;
}

.sidebar {
    display: flex;
    width: 300px;
    height: 95vh;
    flex-direction: column;
    background-color: white;
    vertical-align: middle;
    align-items: center;
    padding: 1rem;
    box-shadow: 5px 5px 5px var(--primary-dark),
                -5px -5px 5px var(--primary-medium-light);
    border-radius: 10px;
    margin-left: 0;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    height: 40px;
    font-weight: 600;
    font-size: 2rem;
    vertical-align: middle;
}

.sidebar-content {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.nav-item {
    align-items: flex-start;
}

.nav-item, .sidebar-user {
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-medium-light);
    border-radius: 10px;
    width: 80%;
}

.nav-item:hover:not(disabled):not(.nav-active), .sidebar-user:hover:not(disabled):not(.nav-active) {
    background-color: var(--primary-medium);
    cursor: pointer;
}

.nav-item:active:not(disabled),  .sidebar-user:active:not(disabled) {
    background-color: var(--primary-medium-dark);
    box-shadow: 5px 5px 5px inset var(--primary-dark),
                -5px -5px 5px inset var(--primary-medium-light);
}

.nav-active {
    background-color: var(--primary-medium-dark);
}